<%= stylesheet_link_tag    URI.join(root_url, path_to_stylesheet("widget/hotels").to_s) %>
<%= javascript_include_tag URI.join(root_url, path_to_javascript("widget/hotels/app").to_s) %>

<div class="apdp-widget-container">

  <!--div class="topcoat-spinner"></div-->

  <div class="als-container" id="hotel-list">
    <span class="als-prev">
      <button class="topcoat-icon-button">
        <div class="icomatic">back</div>
      </button>
    </span>

    <div class="als-viewport">
      <ul class="als-wrapper">

        <li class="als-item">
          <a href="#"><img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"></a>
          <span>
            <a href="#">Hotel Ritz Paris</a>
            <p>
              El Ritz se encuentra en la elegante Place Vendome, en el corazón de París. La piscina, que emula un baño romano con su techo pintado, es una de las más bellas de la ciudad. Las lujosas habitaciones disponen de ventanales que ofrecen mucha luz natural y están magníficamente decoradas con lámparas de araña y espléndidos baños de mármol. Las suites del Ritz Paris cuentan con amplias zonas de estar adornadas con cuadros y elementos de época de estilo Luis XVI. El restaurante L'Espadon, con 2 estrellas Michelin, sirve cocina gastronómica y ofrece una selección de más de 1.000 vinos. Los huéspedes también pueden relajarse en el bar Vendome, que se abre a un patio interior. Muy cerca a pie del Ritz Paris se encuentra el hermoso Jardín de las Tullerías, que conduce al Museo del Louvre. Los Campos Elíseos y la Ópera Garnier también están a poca distancia a pie. Hay un servicio de transporte en limusina al aeropuerto y un servicio de aparcacoches, disponibles bajo petición. El establecimiento cuenta con aparcamiento privado.
            </p>
          </span>
        </li>
        <li class="als-item">
          <a href="#"><img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"></a>
          <span>
            <a href="#">Hotel Ritz Paris</a>
            <p>
              El Ritz se encuentra en la elegante Place Vendome, en el corazón de París. La piscina, que emula un baño romano con su techo pintado, es una de las más bellas de la ciudad. Las lujosas habitaciones disponen de ventanales que ofrecen mucha luz natural y están magníficamente decoradas con lámparas de araña y espléndidos baños de mármol. Las suites del Ritz Paris cuentan con amplias zonas de estar adornadas con cuadros y elementos de época de estilo Luis XVI. El restaurante L'Espadon, con 2 estrellas Michelin, sirve cocina gastronómica y ofrece una selección de más de 1.000 vinos. Los huéspedes también pueden relajarse en el bar Vendome, que se abre a un patio interior. Muy cerca a pie del Ritz Paris se encuentra el hermoso Jardín de las Tullerías, que conduce al Museo del Louvre. Los Campos Elíseos y la Ópera Garnier también están a poca distancia a pie. Hay un servicio de transporte en limusina al aeropuerto y un servicio de aparcacoches, disponibles bajo petición. El establecimiento cuenta con aparcamiento privado.
            </p>
          </span>
        </li>
        <li class="als-item">
          <a href="#"><img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"></a>
          <span>
            <a href="#">Hotel Ritz Paris</a>
            <p>
              El Ritz se encuentra en la elegante Place Vendome, en el corazón de París. La piscina, que emula un baño romano con su techo pintado, es una de las más bellas de la ciudad. Las lujosas habitaciones disponen de ventanales que ofrecen mucha luz natural y están magníficamente decoradas con lámparas de araña y espléndidos baños de mármol. Las suites del Ritz Paris cuentan con amplias zonas de estar adornadas con cuadros y elementos de época de estilo Luis XVI. El restaurante L'Espadon, con 2 estrellas Michelin, sirve cocina gastronómica y ofrece una selección de más de 1.000 vinos. Los huéspedes también pueden relajarse en el bar Vendome, que se abre a un patio interior. Muy cerca a pie del Ritz Paris se encuentra el hermoso Jardín de las Tullerías, que conduce al Museo del Louvre. Los Campos Elíseos y la Ópera Garnier también están a poca distancia a pie. Hay un servicio de transporte en limusina al aeropuerto y un servicio de aparcacoches, disponibles bajo petición. El establecimiento cuenta con aparcamiento privado.
            </p>
          </span>
        </li>
        <li class="als-item">
          <a href="#"><img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"></a>
          <span>
            <a href="#">Hotel Ritz Paris</a>
            <p>
              El Ritz se encuentra en la elegante Place Vendome, en el corazón de París. La piscina, que emula un baño romano con su techo pintado, es una de las más bellas de la ciudad. Las lujosas habitaciones disponen de ventanales que ofrecen mucha luz natural y están magníficamente decoradas con lámparas de araña y espléndidos baños de mármol. Las suites del Ritz Paris cuentan con amplias zonas de estar adornadas con cuadros y elementos de época de estilo Luis XVI. El restaurante L'Espadon, con 2 estrellas Michelin, sirve cocina gastronómica y ofrece una selección de más de 1.000 vinos. Los huéspedes también pueden relajarse en el bar Vendome, que se abre a un patio interior. Muy cerca a pie del Ritz Paris se encuentra el hermoso Jardín de las Tullerías, que conduce al Museo del Louvre. Los Campos Elíseos y la Ópera Garnier también están a poca distancia a pie. Hay un servicio de transporte en limusina al aeropuerto y un servicio de aparcacoches, disponibles bajo petición. El establecimiento cuenta con aparcamiento privado.
            </p>
          </span>
        </li>
        <li class="als-item">
          <a href="#"><img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"></a>
          <span>
            <a href="#">Hotel Ritz Paris</a>
            <p>
              El Ritz se encuentra en la elegante Place Vendome, en el corazón de París. La piscina, que emula un baño romano con su techo pintado, es una de las más bellas de la ciudad. Las lujosas habitaciones disponen de ventanales que ofrecen mucha luz natural y están magníficamente decoradas con lámparas de araña y espléndidos baños de mármol. Las suites del Ritz Paris cuentan con amplias zonas de estar adornadas con cuadros y elementos de época de estilo Luis XVI. El restaurante L'Espadon, con 2 estrellas Michelin, sirve cocina gastronómica y ofrece una selección de más de 1.000 vinos. Los huéspedes también pueden relajarse en el bar Vendome, que se abre a un patio interior. Muy cerca a pie del Ritz Paris se encuentra el hermoso Jardín de las Tullerías, que conduce al Museo del Louvre. Los Campos Elíseos y la Ópera Garnier también están a poca distancia a pie. Hay un servicio de transporte en limusina al aeropuerto y un servicio de aparcacoches, disponibles bajo petición. El establecimiento cuenta con aparcamiento privado.
            </p>
          </span>
        </li>

      </ul>

    </div>

    <span class="als-next">
      <button class="topcoat-icon-button">
        <div class="icomatic">next</div>
      </button>
    </span>
  </div>

</div>
