<%= stylesheet_link_tag    URI.join(root_url, path_to_stylesheet("widget/hotels").to_s) %>
<%= javascript_include_tag URI.join(root_url, path_to_javascript("widget/hotels").to_s) %>

<div class="apdp-widget-main">

  <!--div class="topcoat-spinner"></div-->

  <div class="als-container" id="my-als-list">
    <span class="als-prev">
      <button class="topcoat-icon-button">
        <div class="icomatic">back</div>
      </button>
    </span>

    <div class="als-viewport">
      <ul class="als-wrapper">

        <li class="als-item">
          <img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"> Hotel Ritz Paris
        </li>
        <li class="als-item">
          <img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"> Hotel Ritz Paris
        </li>
        <li class="als-item">
          <img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"> Hotel Ritz Paris
        </li>
        <li class="als-item">
          <img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"> Hotel Ritz Paris
        </li>
        <li class="als-item">
          <img src="http://q-ec.bstatic.com/images/hotel/840x460/397/3973919.jpg"> Hotel Ritz Paris
        </li>

      </ul>

    </div>

    <span class="als-next">
      <button class="topcoat-icon-button">
        <div class="icomatic">next</div>
      </button>
    </span>
  </div>

</div>
