<%= stylesheet_link_tag    URI.join(root_url, path_to_stylesheet("widget/hotels").to_s) %>
<%= javascript_include_tag URI.join(root_url, path_to_javascript("widget/hotels").to_s) %>

<div>hola2</div>
