/*
 *= require widget/isolated_topcoat
 *= require vendor/jquery.als
 *= require_self
 */

.apdp-widget-container {
  font-family: "Source Sans";

  #hotel-list {
    height: 210px;

    .als-wrapper {
      padding: 0px;
    }

    .als-item {
      margin: 0px 5px;
      padding: 4px 0px;
      min-height: 137px;
      min-width: 250px;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
        vertical-align: middle;
        width: 250px;
      }

      span {
        p {
          margin: 0px;
          width: 250px;
          word-wrap: break-word;
          text-align: justify;
          cursor: text;
        }
      }

    }

    .als-prev, .als-next {
      top: 50px;

      button {
        display: inline;
        padding: 3rem 0.25rem;
      }
    }

    .als-prev {
      left: 50px;
    }

    .als-next {
      right: 50px;
    }

  }

}
