<%= stylesheet_link_tag    URI.join(root_url, path_to_stylesheet("widget/related_link").to_s) %>
<%= javascript_include_tag URI.join(root_url, path_to_javascript("widget/related_link/app").to_s) %>

<div class="apdp-widget-container">

  <div class="topcoat-spinner" style="display: none;"></div>

  <div class="als-container" id="related-links" style="display: none;">
    <span class="als-prev">
      <button class="topcoat-icon-button">
        <div class="icomatic">back</div>
      </button>
    </span>

    <div class="als-viewport">

      <ul class="als-wrapper"></ul>

    </div>

    <span class="als-next">
      <button class="topcoat-icon-button">
        <div class="icomatic">next</div>
      </button>
    </span>
  </div>

</div>
