// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #F3F3E9;
}

#apdp_logo {
  width: 50%;
  margin-left: 25%;
  border: 1px solid #E3DFD4;
}
